<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, mollitia ullam eligendi repellat, explicabo iusto corporis sed eos beatae distinctio fugiat perspiciatis obcaecati. Odit, nesciunt ut quidem soluta expedita voluptatem?</p>
    
</body>
</html>